/* ==========================================================================
   *, html, body Styling | Global Variables
   ========================================================================== */
:root {
    --dark: #4d443d;
    --white: #f1eedb;
    --light: #a98e68;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    font-family: "Bebas Neue", "Poppins", Arial, sans-serif;
}

body {
    background-image: url(../assets/img/black_back.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 0.2em;
    height: 0.2em;
}

body::-webkit-scrollbar-track {
    background-color: black;
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    background-image: linear-gradient(-45deg,
            #4b5d67,
            #322f3d,
            #59405c,
            #87556f);
    outline: 1px solid slategrey;
    border-radius: 60px;
}

a {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

/* ==========================================================================
   Common Styling
   ========================================================================== */

.right_0 {
    right: 0 !important;
}

.left_0 {
    left: 0 !important;
}

.top_0 {
    top: 0 !important;
}

.bottom_0 {
    bottom: 0 !important;
}

.flip_x {
    transform: scaleX(-1) !important;
}

.flip_y {
    transform: scaleY(-1) !important;
}

/* ==========================================================================
   Header Styling
   ========================================================================== */
header {
    position: relative;
    width: 100vw;
    height: 85vh;
    z-index: 1;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 1);
}

header .background,
header .content {
    position: absolute;
    width: 100%;
    height: 100%;
}

header .background {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../assets/img/texture-light.jpg);
}

header .background img.top {
    position: absolute;
    right: 5rem;
    top: 5rem;
    z-index: 1;
    height: 115%;
    filter: drop-shadow(-15px 30px 1rem rgba(0, 0, 0, 0.7))
}


header .content {
    z-index: 2;
}

/* ==========================================================================
   Header > Nav Styling
   ========================================================================== */
nav {
    position: absolute;
    width: 100%;
    min-height: 12vh;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;
    background-color: var(--dark);
    color: var(--white);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
}

.logo {
    font-family: indie-flower, sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    width: 30%;
}

.nav-links li {
    display: block;
    height: 8vh;
    margin: 0.6rem 1rem;
    transition: all 0.5s ease;
}

.nav-links li:hover {
    color: var(--light);
}

.nav-links li:active {
    color: var(--dark);
}

.nav-links li.active {
    color: var(--light);
    border-bottom: 2px solid var(--light);
}

.nav-links li a {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    color: inherit;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.ham {
    display: none;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.ham div {
    background-color: var(--white);
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: all 0.3s ease;
}

/* ==========================================================================
   Header > hero Styling, Go-Down Arrow Styling
   ========================================================================== */
.hero {
    position: absolute;
    top: 12vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 12%;
    width: 600px;
    color: var(--dark);
}

.hero h1 {
    font-size: 5rem;
}

.hero h2 {
    font-size: 1.5rem;
}

.go-down {
    position: absolute;
    width: 100%;
    height: 5rem;
    bottom: 1rem;
    display: grid;
    place-items: center;
}

.go-down a {
    display: flex;
    justify-content: center;
    align-items: center;

}

.go-down .arrow {
    position: absolute;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    display: flex;
    color: var(--dark);
    justify-content: center;
    align-items: center;
    animation: down 1.5s ease-in-out infinite;
    font-size: 2.5rem;
}

.go-down .arrow:hover {
    background-color: rgba(20, 20, 20, 0.3);
    color: var(--white);
}

/* ==========================================================================
   Main Styling
   ========================================================================== */
section h1 {
    font-size: 2.5rem;
    border-bottom: 2px solid var(--dark);
    padding: 1rem 0;
    margin: 2rem 0;
}

section p {
    font-size: 1.2rem;
}

section a {
    text-decoration: none;
    font-size: 1.2rem;
    color: var(--light);
}

section a:hover {
    color: var(--dark);
}

section hr {
    width: 10%;
    border: dotted var(--dark) 6px;
    border-bottom: none;
    margin: 5rem auto;
}

.section-with-image-at-right {
    background-color: white;
    display: grid;
    grid-template-columns: 6fr 5fr;
    color: var(--dark);
    padding: 5rem 10%;
}

.section-with-image-at-right .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section-with-image-at-right .image img {
    max-width: 90%;
}

.section-with-image-at-right .image img.fresh {
    max-width: 200px;
}

.section-with-image-at-both-side {
    position: relative;
    color: white;
}

.section-with-image-at-both-side .content {
    max-width: 60%;
    padding: 5rem 1rem 5rem 15rem;
    text-shadow: 0.7rem 1rem 0.7rem rgba(0, 0, 0, 1);
}


.section-with-image-at-both-side .content p {
    padding: 1rem 0;
}

.section-with-image-at-both-side .content h1 {
    font-size: 2.5rem;
    border: none;
    padding: 1rem 0;
    margin: 2rem 0;
}

.section-with-image-at-both-side .image-large {
    position: absolute;
    top: 30%;
    right: 0;
    max-width: 40%;
    transform: translateY(-30%);
}

.section-with-image-at-both-side .image-large img {
    width: 80%;
}

.section-with-image-at-both-side .image-small {
    position: absolute;
    top: 70%;
    left: 0;
    max-width: 10%;
    transform: translateY(-70%);
}

.section-with-image-at-both-side .image-small img {
    width: 80%;
}


/* ==========================================================================
   Footer Styling
   ========================================================================== */
footer {
    width: 100%;
    background-color: rgb(77, 67, 60, 0.5);
}

footer .footer-main {
    margin: 0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
}

footer .footer-main>div {
    flex: 1 1 300px;
    padding: 1rem;
}

footer .footer-main .connect {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

footer .footer-main .connect .row-1 {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
}

footer .footer-main .connect img {
    height: 120px;
}

footer .footer-main .connect .row-1 .social {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 2rem;
}

footer .footer-main .connect .row-1 .social li a {
    background-color: var(--white);
    text-decoration: none;
    color: var(--dark);
    display: grid;
    font-size: 1.5rem;
    width: 2rem;
    height: 2rem;
    place-items: center;
    border-radius: 5px;
}

footer .footer-main .connect .row-1 .social li a:hover {
    background-color: var(--light);
    color: var(--white);
}

footer .footer-main .connect .row-2 {
    text-align: center;
}

footer .footer-main .connect .row-2 a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5rem;
}

footer .footer-main .connect .row-2 a:hover {
    color: var(--light);
}

footer .footer-main .primary-links ul {
    text-align: center;
    font-size: 1.2rem;
    line-height: 2rem;
    list-style: none;
}

footer .footer-main .primary-links a {
    text-decoration: none;
    color: var(--white);
}

footer .footer-main .primary-links a:hover {
    color: var(--light);
}

footer .footer-main .insta-feed div.eui-widget-title {
    color: var(--white);
    font-family: "Bebas Neue", "Poppins", Arial, sans-serif;
    padding: 0 0 10px;
}

footer .insta-feed img {
    box-sizing: content-box;
}

footer .copyright {
    height: auto;
    width: 100%;
    font-family: "Poppins", Arial, sans-serif;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(130, 130, 130);
    line-height: 2rem;
    font-size: 0.7rem;
    padding: 0.5rem;
}

footer .copyright a {
    text-decoration: none;
    font-weight: bold;
}

.colored-text {
    white-space: nowrap;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 500% 500%;
    -webkit-animation: bgcolor 5s ease infinite;
    -moz-animation: bgcolor 5s ease infinite;
    animation: bgcolor 5s ease infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media screen and (max-width: 1024px) {
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    header {
        height: 100vh;
    }

    header .background,
    header .content {
        overflow: hidden;
    }

    .ham {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 12vh;
        background-color: var(--dark);
        height: 88vh;
        right: 0px;
        flex-direction: column;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        box-shadow: -10px 20px 20px rgba(0, 0, 0, 0.5);
        justify-content: flex-start;
    }

    .nav-links li {
        opacity: 0;
        height: 15%;
        display: none;
        border-bottom: 2px solid var(--light);
    }

    .nav-links li:last-child {
        border-bottom: none;
    }

    .nav-active {
        transform: translateX(0%);
    }

    .nav-active li {
        display: block;
    }

    .trigger .line1 {
        transform: rotate(45deg) translate(0px, 6px);
    }

    .trigger .line2 {
        display: none;
    }

    .trigger .line3 {
        transform: rotate(-45deg) translate(0px, -6px);
    }

    .hero {
        width: 80vw;
        margin: 12% auto;
    }

    header .background>img {
        display: none;
    }

    .section-with-image-at-right {
        grid-template-columns: 1fr;
    }

    .section-with-image-at-both-side .content {
        max-width: 80%;
        padding: 0;
        margin: 0 auto;
    }

    .section-with-image-at-right .image,
    .section-with-image-at-both-side .image-large,
    .section-with-image-at-both-side .image-small {
        display: none;
    }
}

@keyframes bgcolor {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes down {
    0% {
        transform: translateY(-1rem);
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(1rem);
        opacity: 0;
    }
}